extends ../layouts/main.pug
   
block content
    .container
        h2.center-align= id ? 'Edit Idea' : 'Video Idea'
        form.col.s12(action="/ideas" method="post")
            .row
                .col.s12.m8.l6(class="offset-m2 offset-l3 input-field")
                    input(id="title" type="text" name="title" class=(errors && errors.title) ? 'invalid' : '' value=title)
                    label(for="title") Title
                    if errors && errors.title
                        span(class="helper-text")= errors.title
            .row
                .col.s12.m8.l6(class="offset-m2 offset-l3 input-field")
                    textarea(id="details" name="details" class="materialize-textarea" class=(errors && errors.details) ? 'invalid' : '')= details
                    label(for="details") Details
                    if errors && errors.details
                        span(class="helper-text")= errors.details
                    if id
                        input(type='hidden' name='id', value=id)
            .row
                .col.s12.m8.l6(class="offset-m2 offset-l3 input-field")
                    button(class="btn waves-effect waves-light" type="submit")= id ? 'Save' : 'Add'
